@font-face {
	font-family: 'FiraSansRegular';
	src: url('FiraSans-Regular.ttf');
	src: url('FiraSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FiraSansItalic';
	src: url('FiraSans-Italic.ttf');
	src: url('FiraSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
