@col-lg: 4%;
@pad-lg: 32px;

@break-max: 1520px;
@break-lg: 1280px;
@break-mmd: 960px;
@break-md: 640px;
@break-smd: 480px;
@break-sm: 320px;
@break-min: 0px;

@media screen and (min-width: @break-max) {
	row {
		width: 2*@col-lg;
		padding-right: @pad-lg;
		padding-left: @pad-lg;
	}
}

@media screen and (min-width: @break-lg) and (max-width: @break-max - 1) {
}

@media screen and (min-width: @break-mmd) and (max-width: @break-lg - 1) {
}

@media screen and (min-width: @break-md) and (max-width: @break-mmd - 1) {
}

@media screen and (min-width: @break-smd) and (max-width: @break-md - 1) {
}

@media screen and (min-width: @break-sm) and (max-width: @break-smd - 1) {
}

@media screen and (min-width: @break-min) and (max-width: @break-sm - 1) {
}
